<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @article, local: true) do |form| %>
      <div class="weight-bold-text">
        タイトル
        <%= form.text_field :name, placeholder: "Nickname" %>
      </div>
        
      <div class="weight-bold-text">
        行動内容
        <%= form.text_area :text, placeholder: "text", rows: "10" %>
      </div>
      <div class="img-upload">
        <div class="weight-bold-text">
          参考イメージ
        </div>
        <div class="click-upload">
          <div id="image-list"></div>
          <p>
            クリックしてファイルをアップロード
            <%= form.file_field :image, placeholder: "Image Url" %>
          </p>
        </div>
      </div>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>