<main class="main">
  <div class="inner">
    <div class="article__wrapper">
      <p class="article__hedding">
        <%= @article.title %>
      </p>
      <%= link_to "by #{@article.user.nickname}", "/users/#{@article.user.id}", class: :article__user %>
      <% if user_signed_in? && current_user.id == @article.user_id %>
        <div class="article__manage">
          <%= link_to "編集する", edit_article_path, class: :article__btn %>
          <%= link_to "削除する", article_path(@article.id), method: :delete, class: :article__btn %>
        </div>
      <% end %>
      <div class="article__image">
        <%= image_tag @article.image %>
      </div>
      <div class="article__body">
        <div class="article__detail">
          <p class="detail__title">投稿日</p>
          <p class="detail__message">
            <%= @article.created_at %>
          </p>
        </div>
        <div class="article__detail">
          <p class="detail__title">カテゴリー</p>
          <p class="detail__message">
            <%= @article.category.name %>
          </p>
        </div>
        </div>
        <div class="article__detail">
          <p class="detail__title">記事内容</p>
          <p class="detail__message">
            <%= @article.text %>
          </p>
        </div>
      </div>
      <div class="article__comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@article, @comment], local: true) do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text, id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <p>
                <%= comment.text %>
                <strong><%= link_to "(#{comment.user.nickname})", "/users/#{comment.user.id}", class: :comment_user %></strong>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
